body {
  background-color: #A1B193;
}

#logo {
  color: white;
}

.jumbotron {
    position: relative;
    background: #000 url("/img/main-image.jpg") bottom center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.main-title {
  color: white;
  font-family: 'Handlee', sans-serif;
  text-align: center;
}

.stores {
  margin-top: 20px;
}


 th {
  background-color: #AAB3A1;
 }

td {
  background-color: #929A8A;
  color: #eee;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #A1B193;
}

/*Search Stores Modal Styles*/

.divide {
  padding: 20px;
}
