<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <title id="logo">Shoe Locator NW</title>
        <link rel='stylesheet' href="/css/bootstrap.min.css">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <link href='https://fonts.googleapis.com/css?family=Patrick+Hand|Handlee' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/app.css" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Shoe Locator NW</a>
                </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stores<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/stores">View &amp; Find Stores</a></li>
                            <li><a data-toggle="modal" data-target="#searchStoreByBrand">Search Stores by Brand</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Brands<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/brands">View &amp; Find Brands</a></li>
                            <li><a data-toggle="modal" data-target="#searchBrandByStore">Search Brands by Store</a></li>
                        </ul>
                    </li>
                </ul>

                <form action="/" class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" id="main-search" name="main-search" class="form-control" placeholder="Search Site">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    
<div class="modal fade" id="searchStoreByBrand" tabindex="-3" role="dialog" aria-labelledby="searchStoreByBrand">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select a Brand</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline" action="/store-by-brand">
          <div class="form-group">
            <select name="brand" required>
              #foreach ($brand in $brands)
              <option value="$brand.getId()">$brand.getName()</option>
              #end
            </select>
          </div>
          <button type="submit" class="btn btn-default">Search</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="searchBrandByStore" tabindex="-3" role="dialog" aria-labelledby="searchBrandByStore">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Select a Store</h4>
      </div>
      <div class="modal-body">
        <form class="form-inline" action="/brand-by-store">
          <div class="form-group">
            <select name="store" required>
              #foreach ($store in $stores)
              <option value="$store.getId()">$store.getName()</option>
              #end
            </select>
          </div>
          <button type="submit" class="btn btn-default">Search</button>
      </div>
    </div>
  </div>
</div>



        <div class="container">

            #parse( $template )

        </div>
    </body>
</html>
